<form class="edit-reminder--form" {{action 'editReminder' on="submit"}}>
  <label>
    Title
    {{input class="edit-title-input" value=title placeholder="Title..."}}
  </label>
  <label>
    Date
    {{input class="edit-date-input" value=date placeholder="Date..."}}
  </label>
  <label>
    Notes
    {{textarea class="edit-notes-input" value=notes placeholder="Notes..."}}
  </label>
  {{input class="input-submit" type="submit"}}
</form>

{{outlet}}
