

<h2>Create A New Reminder</h2>

<form class="add-reminder--form" {{action 'createReminder' on="submit"}}>
  <label>
    Title
    {{input class="add-new-title" type="text" value=title}}
  </label>
  <label>
    Date
    {{input class="add-new-date" type="text" value=date}}
  </label>
  <label>
    Notes
    {{input class="add-new-notes" type="text" value=notes}}
  </label>
  <input class="add-reminder--submit" type="submit"/>
</form>

<!-- {{outlet}} -->
