<form class="edit-reminder-form" {{action 'createReminder' model title date notes id edit reminder rerouteTo on="submit"}}>
  {{input class="edit-reminder-title" value=title}}
  {{bootstrap-datepicker class="edit-reminder-date" value=date}}
  {{input class="edit-reminder-notes" value=notes}}
  <button class="submit-edits-button">Save</button>
</form>

{{outlet}}

{{#if edit}}
  <button class="revert-changes-button" {{action 'revert' model id on="click"}}>Revert Changes</button>
  {{!-- <button class="revert-changes-button {{if reminder.hasDirtyAttributes "enabled"}}" {{action 'revert' reminder on="click"}}>Revert</button> --}}
{{/if}}
