<form class="edit-reminder-form" {{action 'createReminder' model edit rerouteTo on="submit"}}>
  {{#if edit}}
    {{input class="edit-reminder-title" value=model.title placeholder="Enter Title"}}
    {{bootstrap-datepicker class="edit-reminder-date" value=model.date placeholder="Choose Date"}}
    {{input class="edit-reminder-notes" value=model.notes placeholder="Enter Notes"}}
  {{else}}
    {{input class="edit-reminder-title" value=title placeholder="Enter Title"}}
    {{bootstrap-datepicker class="edit-reminder-date" value=date placeholder="Choose Date"}}
    {{input class="edit-reminder-notes" value=notes placeholder="Enter Notes"}}
  {{/if}}

  <div class="not-saved-warning" hidden={{ unless model.hasDirtyAttributes "true" }}>Changes are UNSAVED</div>
  <button class="submit-edits-button">Save</button>
</form>

{{outlet}}

{{#if edit}}
  <button class="revert-changes-button" {{action 'revert' model}}>Revert Changes</button>
{{/if}}
